# Database Configuration
POSTGRES_USER=ip_monitor_user
POSTGRES_PASSWORD=password_123
POSTGRES_DB=ip_monitor_db
DB_HOST=db
DB_PORT=5432

# App Configuration
RACK_ENV=development
MONITORING_INTERVAL=60
